<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Thiết Bị</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        .main-footer {
            background-color: #333; /* Màu nền */
            color:black; /* Màu chữ */
            font-size: 14px;
            padding: 10px 0; /* Khoảng cách giữa nội dung và viền footer */
            text-align: center; /* Căn giữa nội dung */
        }

        .footer-content {
            display: flex;
            justify-content: space-between; /* Căn các phần nội dung sang hai bên */
            align-items: center; /* Căn giữa theo trục tung */
            max-width: 1200px; /* Giới hạn chiều rộng của footer */
            margin: 0 auto; /* Căn giữa footer */
        }

        .footer-left,
        .footer-right {
            padding: 0 10px; /* Khoảng cách giữa nội dung và lề trái/phải */
        }

            .footer-left span,
            .footer-right span {
                display: block; /* Hiển thị mỗi phần tử trên một dòng */
            }

            .footer-right a {
                color: #fff; /* Màu chữ cho các liên kết */
                text-decoration: none; /* Loại bỏ gạch chân của liên kết */
            }


    </style>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- User Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">Tùy chọn người dùng</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-user mr-2"></i> Hồ sơ
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="dangNhap.html" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Đăng xuất
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Home")">
                <img src="~/lib/lo1.png" alt="Logo" style="height: 50px; margin-left: 15px">
                <span class="brand-text font-weight-light font-weight-bolder" style="color: azure;">Trang Chủ</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar" id="mySlidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-fw fa-user"></i>
                                <p>
                                    Người dùng
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ThemCB", "ThemCB")" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thêm người dùng</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("DSCanBo", "DanhSachCanBo")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh sách người dùng</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("PhanQuyenND", "PhanQuyenNguoiDung")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Phân quyền người dùng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-desktop"></i>
                                <p>
                                    Thiết bị
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ThemTB", "ThemThietBi")" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thêm thiết bị</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("DSThietBi", "DanhSachThietBi")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh sách thiết bị</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SuaChua", "SuaChua")" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Sửa chữa
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DKSDThietBi", "DangKySuDungThietBi")" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Đăng ký sử dụng thiết bị
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ThongKeTB", "ThongKeThietBi")" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>
                                    Thống kê thiết bị
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()

        <footer class="main-footer">
            <div class="footer-content">
                <div class="footer-left">
                    <span>&copy; 2024 - Techcompany. Contact: 2051010178long@ou.edu.vn -- 0933491336.</span>
                </div>
            </div>
        </footer>


    </div>
    <!-- ./wrapper -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js"></script>
</body>

</html>